#container{
    width: 70%;
    border: 1px solid red;
    margin: 50px auto auto auto;
    align-content: center;
    position: relative;
}

#container #input_user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

#container #input_user input{
    width: 15%;
    height: 20%;
    margin: 5px;
    text-align: center;
    justify-content: space-around;
}

#container #input_user > div.consign{
    position: absolute;
}

#container #consign_top, #container #consign_bottom{
    width: 100%;
    left: 0px;
    text-align: center;
}

#container #consign_bottom{
   bottom: -20px;
}

#container #consign_top{
    top: -20px;
}

#container #consign_left, #container #consign_right{
    height: 100%;
    top: 0px;
    text-align: center;
    flex-flow: wrap column;
}

#container #consign_right{
    right: -25px;
}

#container #consign_left{
    left: -25px;
}

#container div.consign{
    display: flex;
    justify-content: space-around;
}

/* label */
#container div.consign label{
    background-color: rgb(117, 182, 117);
    padding: 2px;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    line-height: 15px;
}

/* menu bouton */
#section_jm nav{
    width: 80%;
    margin: 20px auto;
}

/* p: réponse */
#isGood{
    margin: auto;
    text-align: center;
}