.container{
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  .container section{
    width: 30%;
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    word-break: break-word;
    background-color: rgba(92, 58, 58, 0.3);
  }
  
  .container section h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  #TextRoll{
      background-image: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,0), rgb(0,255,255), rgb(0,0,255), rgb(255,0,255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
      margin: 0 auto;
  }

.bloc-akin{
        margin: 0 auto;
        width: 100%;
}

.akin{
    text-align: center;
    color: white;
    border: solid;
    width: 95%;
    margin: auto;
    background-color: gray;
}

.akin1{
    text-align: center;
    color: white;
    border: solid;
    width: 50%;
    background-color: gray;
    float: left;
}

.PrBeh2{
    text-align: center;
    background-color: aquamarine;
    color: green;
}
